@{
    ViewData["Title"] = "Home Page";
}
<h2>Hello, it`s our home page</h2>
<form method="get" action="/Home/Welcome">
    <label for="name">Please, enter your name here:</label>
    <input type="text" name="name"/>
    <input type="submit" value="OK" />
</form>

